.coha_calendar_wrapper,
.coha_calendar_toolbar > div {
  margin: auto;
  width: clamp(320px, 98vw, 1200px);
  // max-width: calc(200vh + 20vw);
}

.coha_calendar_toolbar {
  position: sticky;
  top: 0px;
  z-index: 2;
  backdrop-filter: blur(2px);
  background-color: rgb(255 255 255 / 73%) !important;
  border-bottom: 1px solid rgb(0 0 0 / 13%) !important;
}

.coha_calendar_wrapper {
  // Weird height fix
  height: clamp(500px, 85vh, 850px);
  max-height: calc(90vw + 25vh);

  .v-calendar {
    position: relative;

    &:not([anyevents]):after {
      content: "Keine Events für diesen Zeitraum";
      pointer-events: none;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      justify-content: center;
      align-items: center;
      align-self: center;
      display: flex;
      background: #00000021;
      z-index: 2;
      backdrop-filter: blur(0.25px);
      font-weight: 600;
    }
  }
}

.v-calendar-weekly__day-label {
  margin: 2px;
}

.v-calendar-weekly__day-label > .v-btn {
  height: 32px;
  width: 32px;
}

.theme--light.v-chip {
  color: #fff;
}

.brown.lighten-4,
.blue.lighten-4,
.blue.lighten-4,
.amber.lighten-3,
.yellow.darken-1 {
  color: #2d2d2d !important;
}

// V-Table

.v-data-table {
  tbody tr td {
    position: relative;
  }

  .coha_details_text {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
    font-size: 11px;
    word-break: break-all;
    line-height: 1.25;
    margin: -6px;
  }

  .v-data-table-header {
    .v-data-table-header__icon {
      // position: absolute !important;
      // left: 20px;
      // bottom: 0;
    }

    tr th {
      position: relative;
      white-space: nowrap;

      // &:not(:last-child) {
      //   border-right: 1px solid #adadad;
      // }

      & > span:last-child {
        font-size: 10px;
        background: #c7c7c7;
        padding: 4px 7px;
        color: #4c4c4c;
        border-radius: 7px;
        text-transform: capitalize;
        opacity: 0.69;
        transition: 200ms;

        &:hover {
          opacity: 1;
        }
      }
    }
  }
}
